@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 23, 23, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10, 10, 10;
    --foreground: 237, 237, 237;
  }
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .icon {
    @apply h-5 w-5 flex-shrink-0;
  }
  .icon-playback {
    @apply icon transition-transform duration-200 hover:scale-125;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}